<div class="container">
  <div class="row header">
    <div class="column header" *ngFor="let column of columns.toArray()">
      <span>{{column.name}}</span>
      <t-sort-icon
        *ngIf="isSortable(column)"
        [property]="column.property"
        (onSortChange)="onSortChange(column, $event)">
      </t-sort-icon>
    </div>
  </div>

  <div class="row" *ngFor="let row of data">
    <div class="column" *ngFor="let column of columns.toArray()">
      {{row[column.property]}}
    </div>
  </div>
</div>
<t-pagination *ngIf="pagination" [pagination]="pagination"></t-pagination>
