<div class="container">
  <div class="entries-container">
    Entries: {{pagination.total}}
  </div>
  <div class="pages-container">
    <span>Items per page: </span>
    <select [value]="pagination.pageSize" (change)="onPageSizeChange($event)">
      <option>5</option>
      <option>10</option>
      <option>50</option>
    </select>
    <arrow [disabled]="isFirstPage()" [direction]="arrowDirectionEnum.Left" (click)="onPreviousPage()"></arrow>
    <span>{{pagination.page}}</span>
    <arrow [disabled]="isLastPage()" [direction]="arrowDirectionEnum.Right" (click)="onNextPage()"></arrow>
  </div>
</div>
