.container {
  display: flex;
  padding: 8px;
  font-size: large;

  .entries-container {
    flex: 1;
  }

  .pages-container {
    display: flex;
    align-items: center;

    & > *:not(:last-child) {
      margin-right: 8px;
    }
  }
}
