.arrow {
  display: flex;
  border: solid black;
  border-width: 0 3px 3px 0;
  padding: 3px;

  &:hover {
    cursor: pointer;
  }

  &.disabled {
    border-color: lightgray;

    &:hover {
      cursor: not-allowed;
    }
  }
}

.right {
  transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
}
