<progress-indicator
  [progress]="progress$.value"
  [radius]="50"
  color="red"
></progress-indicator>

<button id="addUserBtn" (click)="addData()">Add user</button>

<t-grid
  [data]="tableData"
  [sortable]="true"
  [pageSize]="10"
  (sortChange)="onSortChange($event)"
  (paginationChange)="onPaginationChange($event)"
>
  <t-column name="ID" property="id"></t-column>
  <t-column name="Full Name" property="name" [sortable]="true"></t-column>
  <t-column name="City" property="city" [sortable]="true"></t-column>
  <t-column name="Age" property="age" [sortable]="true"></t-column>
</t-grid>
